node_modules

.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

src/工具经验/酒馆助手模板/tavern_helper_template/@types
src/工具经验/酒馆助手模板/tavern_helper_template/dist
src/工具经验/酒馆助手模板/tavern_helper_template/slash_command.txt
src/工具经验/酒馆助手模板/tavern_helper_template/slash_command.txt
