name: bundle

on:
  pull_request:
  push:
    paths-ignore:
      - archive/**
      - dist/**
  workflow_dispatch:

concurrency:
  group: ${{github.workflow}}
  cancel-in-progress: true

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}
      - name: Use Node.js
        uses: actions/setup-node@v4
        with: { node-version: 22 }
      - name: Setup pnpm
        uses: pnpm/action-setup@v4.1.0
        with: { version: 10 }
      - run: pnpm i
      - run: pnpm build
      - run: mkdir -p archive
      - run: git archive -o archive/lorebook_script.zip HEAD:src/工具经验/世界书同步脚本/lorebook_script --prefix lorebook_script/
      - run: git archive -o archive/tavern_helper_template.zip HEAD:src/工具经验/酒馆助手编写环境配置/tavern_helper_template --prefix tavern_helper_template/
      - name: Commit changes
        uses: EndBug/add-and-commit@v9.1.3
        with:
          default_author: github_actions
          message: '[bot] Bundle'
